body {
  margin: 0;
  font-family: Arial;
  background: black;
  color: white;
}

/* LAYOUT */
.layout {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 200px;
  padding: 20px;
}

.sidebar button {
  width: 100%;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 20px;
  border: none;
  background: #7ed957;
  cursor: pointer;
}

.sidebar .active {
  background: #5bc236;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 40px;
}

/* TOP */
.top-section {
  display: flex;
  justify-content: space-between;
}

.infos {
  width: 60%;
}

.infos input {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 20px;
  border: none;
  background: #7ed957;
}

/* PHOTO */
.photo-section {
  text-align: center;
}

.photo-section img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.photo-section button {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: #7ed957;
}

/* LINKS */
.links {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

.links input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: #7ed957;
}

/* MEDIA */
.media-section {
  margin-top: 20px;
}

#mediaPreview video,
#mediaPreview audio {
  width: 120px;
  margin: 10px;
}

/* PRODUCTS */
.products {
  margin-top: 30px;
}

.product {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.product input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: #7ed957;
}

/* SAVE */
.save {
  margin-top: 30px;
  padding: 15px;
  width: 100%;
  border-radius: 20px;
  border: none;
  background: #5bc236;
  font-weight: bold;
}
